<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="MainConnectionString" connectionString="Data Source =37.156.17.97;Initial Catalog = SBS_Medical_University;User Id=sa;Password=sa123sa@;MultipleActiveResultSets=true"/>-->
    <add name="MainConnectionString" connectionString="Data Source =.;Initial Catalog = SBS_Medical_University_Khoy;Integrated Security = True;MultipleActiveResultSets=true" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
